body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: cornflowerblue;
}


.navbar {
  background-color: azure;
  margin: 0;
  padding: 0;
  border: 0;
}

.navbuttons {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: flex-end;
}

footer {
  position: static;
}

main {
  margin: auto;
  text-align: center;
}

main p {
  font-size: larger;
}


.navbuttons ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbuttons ul li a {
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}

.navbuttons ul li a:hover:not(.active) {
  background-color: tomato;
}

.navbuttons ul li a.active {
  background-color: crimson;
}

.navbuttons li a,
.dropbtn {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbuttons li a:hover,
.dropdown:hover .dropbtn {
  background-color: tomato;
}

.navbuttons li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: azure;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: azure;
}

.dropdown:hover .dropdown-content {
  display: block;
}

article {
  text-align: justify;
  margin: 8px 20%;
}
article img {
  display: block;
  max-width: 80%;
  max-height: 500px;
  margin: auto;
}
article h2{
  text-align: center;
}

.imglabel {
  font-size: small;
  font-style: italic;
  font-weight: bold;
  color: black;
  max-width: 80%;
  margin: auto;
  text-align: center;
}
.imgcredit{
  font-size: smaller;
  font-weight: lighter;
  color: grey;
}

.imgcredit a{
  color: grey;
}

.listsection {
  display: flex;
  flex-direction: row;
  margin: 8px 20%;

}

.listsection h2 {
  text-align: center;
}

.list {
  width: 50%;
  display: block;
  text-align: left;
  border: 1px solid gray;
  }

